/* Nav-all */
.nav-space {
	margin-top: 30px;
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-bar {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-big {
	width: 12rem;
}
.menu ul {
	display: flex;
	list-style: none;
}
.menu ul li {
	padding-left: 3rem;
}
.menu ul li a{
	letter-spacing: 0.1rem;
	font-size: 1rem;
	text-transform: uppercase;
	color: var(--blanco);
	text-align: center;
	text-decoration: none;
}
.menu li a:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  margin-top: 0.5rem;
  transition: all .8s;
}
.menu li a:hover:after {
  width: 100%;
  background: var(--blanco);
}

/* Elements view none */ 
.space-logo {
	display: none;
}
.menu-icon {
	display: none;
}
.logo-mini {
	display: none;
}
.overlay {
	display: none;
}

/* Responsive */
@media only screen and (max-width: 1080px) {

/* Elements view true */ 
.space-logo {
	display: block;
}
.menu-icon {
	z-index: 90;
	display: block;
}
.logo-mini {
	display: block;
}
.overlay {
	display: none;
}
.logo-big {
	display: none;
}
.ON {
	display: block;
}
.OFF {
	width: 1.2rem;
	display: none;
}

/* Start nav */
.nav-space {
	z-index: 100;
	margin: 0;   
	position: fixed;
	width: 100%;
}
.nav-bar {
	margin-top: 5%;
	width: 90%;
	padding: 1rem;
	border-radius: 10px;
	background: rgba(0,0,0, 0.9);
}
.space-logo {
	width: 5rem;
}
.ON {
	width: 1.3rem;
}

/* Menu desplegable */
.menu {
	z-index: 80;
	width: 90%;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 5%;
	background: var(--negro);
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 0;
	opacity: 0;
	transition: all 0.5s ease;
	border-radius: 10px;
}
.menu ul {
	text-align: center;
	flex-direction: column;
}
.menu ul li {
	padding: 0;
	margin: auto;
	margin-top: 1rem;
}
.menu li a:after {
	content: "";
	height: 1px;
	display: block;
	animation: textNAV 2s infinite;
}

/* Overlay shadow */
.overlay {
	top: 0;
	left: 0;
	height: 100vh;
	position: fixed;
	width: 100%;
	background: rgb(0, 0, 0, .85);
	backdrop-filter: blur(5px);
	-moz-backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	display: none;
	opacity: 0;
	z-index: 50;
}

/* Funciones */
.menu.active {
	opacity: 1;
	transition: all 0.5s ease;
	height: 50vh;
}
.overlay.active {
	display: block;
	opacity: 1;
	transition: all 0.5s ease;;
}

/* Key frames animation */

@keyframes textNAV {
	30% {
		width: 50%;
		height: 1px;
		background: var(--blanco);
	}
	100% {
		width: 100%;
	}
}

	/* Font of nav-bar mobile */
	
@media only screen and (max-width: 400px) {
	.menu ul li a {
		font-size: 1rem;
	}