/* Nav-all */
.nav-space {
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	padding: 25px;
}
.nav {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-bar {
	display: flex;
}
.nav-bar li {
	display: flex;
	list-style: none;
}
.nav-bar li a {
	text-decoration: none;
	padding-left: 45px;
	text-transform: uppercase;
	color: var(--blanco);
	font-weight: 500;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
}
.nav-bar li a:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  margin-top: 0.5rem;
  transition: all .8s;
}

.nav-bar li a:hover:after {
  width: 100%;
  background: var(--blanco);
}
.logo-img-000 {
	width: 7rem;
}
.menu-icon {
	display: none;
}

/* Responsive */
@media only screen and (max-width: 1080px) {
	.nav-space {
	padding: 20px 10px 15px 10px;
	z-index: 5;
	position: fixed;
	}
	.nav-bar {
	margin          : auto;
	position        : fixed;
	background: var(--negro); 
	top             : 0;
	right: 0;
	width           : 100%;
	height          : 50vh;
	flex-direction  : column;
	display         : flex;
	transition      : all 0.8s ease;
	z-index: 10;
	align-items     : center;
	justify-content : center;
	transform: translateY(-100%);
	opacity: 0;
	}
	.nav-bar li {
	padding: 15px;
	}
	.nav-bar li a {
	color: var(--blanco);
	padding: 0;
	}
	.nav-bar li a:after {
	margin: 0;
	}
	.logo-img-fff {
	width: 5rem;
	}
	.logo-img-000 {
		display: none;
	}
	.menu-icon {
	display  : block;
	position : relative;
	z-index: 15;
	font-size: 1.5rem;
	color: var(--blanco);
	}
	.nav-bar.active {
	transform: translateX(0);
	transition: all 0.8s ease;
	opacity: 1;
	}
	.overlay {
	top: 0;
	height: 0;
	width: 100%;
	height: 100vh;
	position: fixed;
	background: rgb(0, 0, 0, .85);
	display: none;
	}

	/* Support of blur */
	@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .overlay {
    -webkit-backdrop-filter: blur(0.2rem);
    backdrop-filter: blur(0.2rem);
  }
	.overlay.active {
	z-index: 5;
	display: block;
	}

	/* Font of nav-bar mobile */
	@media only screen and (max-width: 400px) {
	.menu-icon {
		font-size: 2rem;
	}
	.nav-bar li a {
		font-size: 1.1rem;
	}